<!DOCTYPE html>
<html lang='ru'>
    <head>
        <title><%=title%></title>
        <meta name="description" content="<%=description%>">
        <%- include("./components/head.ejs") %>
    </head>
    <body>
        <div id="main_body">
            <%- include("./components/header.ejs", { header: { ...header, ...locals.header }, preferences: { ...preferences, ...locals.preferences } }) %>
            
            <% if (locals.type) { %>  <%- include(`templates/${type}/body.ejs`) %> <% }
            else { %> <main id="main" tabindex="-1"> </main> <% } %>
            
            <%- include("./components/footer.ejs", { footer: { ...footer, ...locals.footer }, preferences: { ...preferences, ...locals.preferences } }) %>
        </div>
    </body>
</html>