<%
function translateStatus(status)
{
    switch (status)
    {
        case 'CONTRACT': return "Подписан контракт";
        case 'PREPARATION': return "Подготовка";
        case 'ACTIVE': return "Активный стример";
        case 'PAUSED': return "На паузе";
        case 'FIRED': return "Уволен";
    }
}
function translateCategory(category)
{
    switch (category)
    {
        case 'OUR': return "Наш стример";
        case 'BACKSTAGE': return "Бекстейдж стример";
        case 'OUTSIDE': return "Сторонний стример";
        case 'ETC': return "Тд";
    }
}
function translateStream(group)
{
    switch (group)
    {
        case 'STREAM_1': return "Первый поток";
        case 'STREAM_2': return "Второй";
        case 'STREAM_3': return "Третий";
    }
}
function translateDate(date)
{
    if (!date) return "undefined";
    const day = date.getDate().toString().padStart(2, "0");
    const month = (date.getMonth() + 1).toString().padStart(2, "0");
    const hour = date.getHours().toString().padStart(2, "0");
    const minute = date.getMinutes().toString().padStart(2, "0");
    return `${day}.${month}.${date.getFullYear()} ${hour}:${minute}`;
}
function translateGroup(group)
{
    switch (group)
    {
        case 'GROUP_1': return "Группа 1";
        case 'GROUP_2': return "Группа 2";
        case 'GROUP_3': return "Группа 3";
    }
}
%>

<main>
    <div>
        <button data-modal="add_streamer" data-modal_action="show">Добавить стримера</button>
        <button class="filter" data-modal="filter" data-modal_action="show"> <img src="/static/images/filter.svg" alt="filter"> </button>
        <h1>Данные стримеров агенства</h1>
        <p>Сотрудники - стримеры</p>
        <div>
            <input type="date" id="date_from">
            <input type="date" id="date_to">
            <input type="search" id="search" placeholder="Поиск стримеров">
        </div>
    </div>

    <table>
        <colgroup>
            <col id="streamer"></col>
            <col id="follower_count"></col>
            <col id="status"></col>
            <col id="category"></col>
            <col id="stream"></col>
            <col id="streamer_group"></col>
            <col id="first_stream"></col>
            <col id="last_stream"></col>
            <col id="total_diamonds"></col>
            <col id="total_time"></col>
            <col id="pledge"></col>
            <col id="created"></col>
            <col id="updated"></col>
            <col id="action"></col>
        </colgroup>
        <thead>
            <tr>
                <th>Стример</th>
                <th class="sorter" id="followers_sorter">follower_count</th>
                <th>Статус</th>
                <th>Категория</th>
                <th>Поток стримера</th>
                <th>Группа стримера</th>
                <th>Дата первого стрима</th>
                <th>Последняя трансляция</th>
                <th>Количество алмазов</th>
                <th>Количество минут</th>
                <th>Залог</th>
                <th>дата бд</th>
                <th>дата изм.данных</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < streamers.length; i++)
            {
                const streamer = streamers[i]; %>
                <tr data-index="<%=i%>" data-key="id" data-value="<%=streamer.id%>">
                    <td>
                        <img src="<%=streamer.avatar_url%>" alt="avatar" width="50" height="50">
                        <span data-key="unique_id" data-value="<%=streamer.unique_id%>"><%=streamer.unique_id%></span>
                        <span data-key="password" data-value="<%=streamer.password%>">id: <%=streamer.password%></span>
                        <span data-key="tiktok_id" data-value="<%=streamer.tiktok_id%>" hidden>id: <%=streamer.tiktok_id%></span>
                    </td>
                    <td data-key="follower_count" data-value="<%=streamer.follower_count%>"><%=streamer.follower_count%></td>
                    <td data-key="status" data-value="<%=streamer.status%>"><%=translateStatus(streamer.status)%></td>
                    <td data-key="category" data-value="<%=streamer.category%>"><%=translateCategory(streamer.category)%></td>
                    <td data-key="stream" data-value="<%=streamer.stream%>"><%=translateStream(streamer.stream)%></td>
                    <td data-key="streamer_group" data-value="<%=streamer.streamer_group%>"><%=translateGroup(streamer.streamer_group)%></td>
                    <td><%=translateDate(streamer.first_stream)%></td>
                    <td><%=translateDate(streamer.last_stream)%></td>
                    <td><%=streamer.total_diamonds%></td>
                    <td><%=streamer.total_time?.toMinutes()%></td>
                    <td data-key="pledge" data-value="<%=streamer.pledge%>"><%=streamer.pledge%></td>
                    <td><%=translateDate(streamer.created)%></td>
                    <td data-key="updated" data-value="<%=streamer.updated.toISOString()%>"><%=translateDate(streamer.updated)%></td>
                    <td>
                        <button data-modal="edit_streamer" data-modal_action="show"  data-modal_filler data-container_level="2">Edit</button>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <dialog id="filter">
        <label> <input type="checkbox" checked data-hide="follower_count"> follower_count </label>
        <label> <input type="checkbox" checked data-hide="status"> Статус </label>
        <label> <input type="checkbox" checked data-hide="category"> Категория </label>
        <label> <input type="checkbox" checked data-hide="stream"> Поток стримера </label>
        <label> <input type="checkbox" checked data-hide="streamer_group"> Группа стримера </label>
        <label> <input type="checkbox" checked data-hide="first_stream"> Дата первого стрима </label>
        <label> <input type="checkbox" checked data-hide="last_stream"> Последняя трансляция </label>
        <label> <input type="checkbox" checked data-hide="total_diamonds"> Количество алмазов </label>
        <label> <input type="checkbox" checked data-hide="total_time"> Количество минут </label>
        <label> <input type="checkbox" checked data-hide="pledge"> Залог </label>
        <label> <input type="checkbox" checked data-hide="created"> дата бд </label>
        <label> <input type="checkbox" checked data-hide="updated"> дата изм.данных </label>
    </dialog>
    
    <dialog id="add_streamer">
        <h2>Добавление стримера</h2>
        <form method="POST" action="/streamers">
            <label>
                Статус стримера
                <select name="status" required>
                    <option disabled selected>Укажите статус стримера</option>
                    <option value="CONTRACT">Подписан контракт</option>
                    <option value="PREPARATION">Подготовка</option>
                    <option value="ACTIVE">Активный стример</option>
                    <option value="PAUSED">На паузе</option>
                    <option value="FIRED">Уволен</option>
                </select>
            </label>
            <label>
                Категория стримера
                <select name="category" required>
                    <option disabled selected>Укажите категорию стримера</option>
                    <option value="OUR">Наш стример</option>
                    <option value="BACKSTAGE">Бекстейдж стример</option>
                    <option value="OUTSIDE">Сторонний стример</option>
                    <option value="ETC">Тд</option>
                </select>
            </label>
            <label>
                Выберите поток стримера
                <select name="stream" required>
                    <option disabled selected>Выбор потока стримера</option>
                    <option value="STREAM_1">Первый поток</option>
                    <option value="STREAM_2">Второй</option>
                    <option value="STREAM_3">Третий</option>
                </select>
            </label>
            <label>
                Выберите группу стримера
                <select name="streamer_group">
                    <option value selected>Выбор группы стримера</option>
                    <option value="GROUP_1">1 группа</option>
                    <option value="GROUP_2">2 группа</option>
                    <option value="GROUP_3">3 группа</option>
                </select>
            </label>
            <label>
                Залог
                <input type="number" name="pledge" min="0" step="1" placeholder="Введите сумму залога">
            </label>
            <label>
                UniqueId
                <input type="text" name="unique_id" placeholder="Введите uniqueId">
            </label>
            <label>
                Пароль стримера
                <input type="text" name="password" maxlength="50" placeholder="Введите пароль">
            </label>
            <div>
                <button type="button" class="secondary" data-modal="add_streamer" data-modal_action="close">Закрыть</button>
                <button>Добавить</button>
            </div>
            <input type="hidden" name="authentication" value="<%=req.authentication_code%>">
        </form>
    </dialog>

    <dialog id="edit_streamer">
        <h2>Редактирование стримера</h2>
        <form method="POST" action="/streamers">
            <label>
                Статус стримера
                <select name="status" required>
                    <option disabled selected>Укажите статус стримера</option>
                    <option value="CONTRACT">Подписан контракт</option>
                    <option value="PREPARATION">Подготовка</option>
                    <option value="ACTIVE">Активный стример</option>
                    <option value="PAUSED">На паузе</option>
                    <option value="FIRED">Уволен</option>
                </select>
            </label>
            <label>
                Категория стримера
                <select name="category" required>
                    <option disabled selected>Укажите категорию стримера</option>
                    <option value="OUR">Наш стример</option>
                    <option value="BACKSTAGE">Бекстейдж стример</option>
                    <option value="OUTSIDE">Сторонний стример</option>
                    <option value="ETC">Тд</option>
                </select>
            </label>
            <label>
                Выберите поток стримера
                <select name="stream" required>
                    <option disabled selected>Выбор потока стримера</option>
                    <option value="STREAM_1">Первый поток</option>
                    <option value="STREAM_2">Второй</option>
                    <option value="STREAM_3">Третий</option>
                </select>
            </label>
            <label>
                Выберите группу стримера
                <select name="streamer_group">
                    <option value selected>Выбор группы стримера</option>
                    <option value="GROUP_1">1 группа</option>
                    <option value="GROUP_2">2 группа</option>
                    <option value="GROUP_3">3 группа</option>
                </select>
            </label>
            <label>
                Залог
                <input type="number" name="pledge" min="0" step="1" placeholder="Введите сумму залога">
            </label>
            <label>
                UniqueId
                <input type="text" name="unique_id" placeholder="Введите uniqueId">
            </label>
            <div>
                <button type="button" class="secondary" data-modal="edit_streamer" data-modal_action="close">Закрыть</button>
                <button>Добавить</button>
            </div>
            <input type="hidden" name="authentication" value="<%=req.authentication_code%>">
            <input type="hidden" name="id">
        </form>
    </dialog>
</main>